{% extends 'index.html' %}


{% block title %}
  Agendar cita

{% endblock %}

 {% block direcciones %}
        <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="vistaprincipal">Inicio</a>
    </li>
    <li class="breadcrumb-item active">Agendar Cita</li>
  </ol>
{% endblock %}

{% block content%}
<!--<p>Date: <input type="text" id="datepicker"></p>-->



<div class="container">
  <div class="row">
      <!--div-->
            <div class="col card" style="width: 22rem;">
              <div class="card-body">
                  <h3>Datos del residente</h3>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <label>Residente</label>    
                      <input type="text" class="form-control" name="residente" disabled="disabled"></li>
                    <li class="list-group-item">
                      <label>Escuela</label>
                      <input type="text" class="form-control" id="escuela" name="escuela"  disabled="disabled"></li>
                    <li class="list-group-item">
                      <label>Fecha de la cita</label>
                      <input type="text" class="form-control" id="datepicker" name="fecha"> </li>
                  </ul>
                  <br>
                  <br>
                  <div>
                      <input class="btn btn-primary btn-lg btn-block" type="submit" value="Confirmar cita" style="text-align: center;;">
                  </div>
            </div>
      </div>
   </div>
</div>
<div id="espacio">
  <p></p>
</div>

<div id="contenido">
  <h4>Nota:<span>El horario para entrevistas es de 11 am a 2 pm de Lunes a Viernes,  por favor comunicate con nosotros para acordar tu horario de cita en el día seleccionado”.</span></h4>

</div>
{% endblock %}
