
{% extends 'index.html' %}
{% block content%}

<title>Cargar de Archivos </title>

    <div align="center"> 
		<form method="post" action="" enctype="multipart/form-data"
				id="myform"> 
            <div class="row">
</div>
			<div > 
				<hr width="500">
				<H4>Acta de Nacimiento</H4> 
				<hr width="500">
				<input type="file" id="file" name="file" /> 
				<input type="button" class="button" value="Subir Archivo"
						id="but_upload"> 
			</div> 
		</form> 
	</div>	

	<div align="center"> 
		<form method="post" action="" enctype="multipart/form-data"
				id="myform"> 

			<div > 
				<hr width="500">
				<H4>CURP</H4> 
				<hr width="500">
				<input type="file" id="file" name="file" /> 
				<input type="button" class="button" value="Subir Archivo"
						id="but_upload"> 
			</div> 
		</form> 
	</div>	

	
	<div align="center"> 
		<form method="post" action="" enctype="multipart/form-data"
				id="myform"> 

			<div >
			    <hr width="500">
				<H4> INE/IFE </H4> 
                <hr width="500">
				<input type="file" id="file" name="file" /> 
				<input type="button" class="button" value="Subir Archivo"
						id="but_upload"> 
			</div> 
		</form> 
	</div>	

   <div align="center"> 
		<form method="post" action="" enctype="multipart/form-data"
				id="myform"> 

			<div > 
				<hr width="500">
				<H4> Comprobante de Domicilio </H4> 
				<hr width="500">
				<input type="file" id="file" name="file" /> 
				<input type="button" class="button" value="Subir Archivo"
						id="but_upload"> 
			</div> 
		</form> 
	</div>	
	<div align="center"> 
		<form method="post" action="" enctype="multipart/form-data"
				id="myform"> 

			<div > 
				<hr width="500">
				<H4> Comprobante de Estudios </H4> 
				<hr width="500">
				<input type="file" id="file" name="file" /> 
				<input type="button" class="button" value="Subir Archivo"
						id="but_upload"> 
			</div> 
		</form> 
	</div>	
	<div align="center"> 
		<form method="post" action="" enctype="multipart/form-data"
				id="myform"> 

			<div > 
				<hr width="500">
				<H4> Carta de presentación </H4> 
				<hr width="500">
				<input type="file" id="file" name="file" /> 
				<input type="button" class="button" value="Subir Archivo"
						id="but_upload"> 
			</div> 
		</form> 
	</div>	
	<div align="center"> 
		<form method="post" action="" enctype="multipart/form-data"
				id="myform"> 

			<div >

				<hr width="500">
				<H4> Certificado Médico </H4> 
				<hr width="500">
				<input type="file" id="file" name="file" /> 
				<input type="button" class="button" value="Subir Archivo"
						id="but_upload"> 
			</div> 
		</form> 
	</div>	

{% endblock %}
