{% load static %}

<title>Cargar de Archivos </title>




    <div align="center"> 
		<form method="post" action="" enctype="multipart/form-data"
				id="myform"> 
            <div class="row">
</div>
			<div > 
				<hr width="500">
				<H3>Acta de Nacimiento</H3> 
				<hr width="500">
				<input type="file" id="file" name="file" /> 
				<input type="button" class="button" value="Subir Archivo"
						id="but_upload"> 
			</div> 
		</form> 
	</div>	

	<div align="center"> 
		<form method="post" action="" enctype="multipart/form-data"
				id="myform"> 

			<div > 
				<hr width="500">
				<H3>CURP</H3> 
				<hr width="500">
				<input type="file" id="file" name="file" /> 
				<input type="button" class="button" value="Subir Archivo"
						id="but_upload"> 
			</div> 
		</form> 
	</div>	

	
	<div align="center"> 
		<form method="post" action="" enctype="multipart/form-data"
				id="myform"> 

			<div >
			    <hr width="500">
				<H3> INE/IFE </H3> 
                <hr width="500">
				<input type="file" id="file" name="file" /> 
				<input type="button" class="button" value="Subir Archivo"
						id="but_upload"> 
			</div> 
		</form> 
	</div>	

   <div align="center"> 
		<form method="post" action="" enctype="multipart/form-data"
				id="myform"> 

			<div > 
				<hr width="500">
				<H3> Comprobante de Domicilio </H3> 
				<hr width="500">
				<input type="file" id="file" name="file" /> 
				<input type="button" class="button" value="Subir Archivo"
						id="but_upload"> 
			</div> 
		</form> 
	</div>	
	<div align="center"> 
		<form method="post" action="" enctype="multipart/form-data"
				id="myform"> 

			<div > 
				<hr width="500">
				<H3> Comprobante de Estudios </H3> 
				<hr width="500">
				<input type="file" id="file" name="file" /> 
				<input type="button" class="button" value="Subir Archivo"
						id="but_upload"> 
			</div> 
		</form> 
	</div>	
	<div align="center"> 
		<form method="post" action="" enctype="multipart/form-data"
				id="myform"> 

			<div > 
				<hr width="500">
				<H3> Carta de presentación </H3> 
				<hr width="500">
				<input type="file" id="file" name="file" /> 
				<input type="button" class="button" value="Subir Archivo"
						id="but_upload"> 
			</div> 
		</form> 
	</div>	
	<div align="center"> 
		<form method="post" action="" enctype="multipart/form-data"
				id="myform"> 

			<div >

				<hr width="500">
				<H3> Certificado Médico </H3> 
				<hr width="500">
				<input type="file" id="file" name="file" /> 
				<input type="button" class="button" value="Subir Archivo"
						id="but_upload"> 
			</div> 
		</form> 
	</div>	


