{% load static %}
<link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">
<link href="{% static 'css/estilos.css' %}" rel="stylesheet">

<table height="100%" width="100%" background="" style="background-repeat: no-repeat; background-position: center center;">
	<tr style="text-align: center;">
		<td>
			<span style="color:369C; font-size: 50;" >FINKOK S.A.P.I. de C.V.</span>
			<br>
			<br>
			<span style="
		font-family: verdara;	color:369C; font-size: 25;" >Ha finalizado su sesión ¿cambio de opinion? inicie sesión nuevamente</span>
			<br>
			<br>

		<a href="login"> <button type="button" class="btn btn-outline-primary">Iniciar sesión</button></a>
		<a href="registrar"> <button type="button" class="btn btn-outline-primary">Registrarse</button></a>
		</td>
	</tr>
</table>