
<!DOCTYPE html>
<html>
<head>
	<title> PRUEBA DE CALENDARIO</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" type="text/css" href="css/estilos.css">
	<script type="text/javascript" src="js/jquery.js"></script>
</head>

<body>
 
      <div> class= "container"> 
        <h1>Calendario</h1>
        </hr>
         <div> class= "Formulario">
        	<h2>formuladio de fechas</h2>

        	  <form>
        	  	   <label> fecha 1</label><br/>
        	  	   <input type="text" name="fecha1" id= "fecha 1"><br/>
        	  	   <label> fecha 2</label><br/>
        	  	   <input type="text" name="fecha2" id= "fecha 2"><br/>
        	  	   <label> fecha 3</label><br/>
        	  	   <input type="text" name="fecha3" id= "fecha 3"><br/>
        	  </form>
        </div>
      </div>

</body>
</html>